{% extends '@IdmUser/base.html.twig' %}

{% block title 'controller.profile.title.change_password'|trans({}, 'IdmUserBundle') %}

{% block body %}
	{{ form_start(form) }}

	<h2>{{ 'form.change_password.password.current.title'|trans({}, 'IdmUserBundle') }}</h2>
	<p>{{ 'form.change_password.password.current.paragraph'|trans({}, 'IdmUserBundle') }}</p>

	{{ form_row(form.currentPassword) }}

	<h2>{{ 'form.change_password.password.new.title'|trans({}, 'IdmUserBundle') }}</h2>
	<p>{{ 'form.change_password.password.new.paragraph'|trans({}, 'IdmUserBundle') }}</p>

	{{ form_row(form.plainPassword) }}

	{{ form_end(form) }}
{% endblock %}
