{% extends '@IdmUser/base.html.twig' %}

{% block body %}
	<h1>{{ 'email.reset_password.body.title'|trans({}, 'IdmUserBundle') }}</h1>

	<p>{{ 'email.reset_password.body.paragraph'|trans({}, 'IdmUserBundle') }}</p>

	<a href="{{ url('idm_user_reset_password', {token: resetToken.token}) }}">
		{{ 'email.reset_password.body.button'|trans({}, 'IdmUserBundle') }}
	</a>

	<p>
		{{ 'email.reset_password.body.note'|trans({
			expiration: resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
		}, 'IdmUserBundle') }}
	</p>

	<p>{{ 'email.reset_password.body.farewell'|trans({}, 'IdmUserBundle') }}</p>
{% endblock %}
