{% extends '@IdmUser/base.html.twig' %}

{% block body %}
	<h1>{{ 'email.reset_password.body.title'|trans({}, 'IdmUserBundle') }}</h1>

	<p>{{ 'email.reset_password.body.paragraph'|trans({}, 'IdmUserBundle') }}</p>

	<a href="{{ url('idm_user_reset_password', {token: resetToken.token}) }}">{{ url('idm_user_reset_password', {token:
			resetToken.token}) }}</a>

	<p>{{ 'email.reset_password.body.expiration'|trans({}, 'IdmUserBundle') }}{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
		.</p>

	<p>{{ 'email.reset_password.body.farewell'|trans({}, 'IdmUserBundle') }}</p>
{% endblock %}
